<div class="box-body">
  <div class="type-box">
    <div class="type-config">
      <h5 align="center" >Config your profile</h5>

      <div class="avatar-config">
      <%= form_for @config, html: { multipart: true } do |form| %>
      <%= form.label :avatar %> | <%= form.file_field :avatar %>
      <button type="submit" class="btn-color-config btn btn-primary" name="commit" value="save">Submit</button>
      <% end %>
      </div>

      <div class="avatar-config">
      <%= form_for @config do |y| %>
      <%= y.label :maximum_amount %> | <%= y.text_field :maximum_amount %>
      <button type="submit" class="btn-color-config btn btn-primary" name="commit" value="save">Submit</button>
      <% end %>
      </div>

      <div class="text-config">
        <%= form_for @config do |x| %>
        <div class="text-center">
        <h5><%= x.label :text %></h5>
        </div>
        <%= x.text_area :text, size: "80x10" %><br>
        <div class="text-center">
        <button type="submit" class="btn-color-config btn btn-primary" align="center" name="commit" value="save">Submit</button>
        </div>
        <% end %>
      </div>

      <div class="text-config">
        <%= form_for @config do |x| %>
        <div class="text-center">
        <h5><%= x.label :project_name %></h5>
        <h5><%= x.text_field :project_name %></h5>
          <div class="text-center">
          <button type="submit" class="btn-color-config btn btn-primary" align="center" name="commit" value="save">Submit</button>
          </div>
        </div>
        <% end %>
      </div>


        <div class="text-center">
          <%= link_to "Back", "/home"%>
        </div>



    </div>

  </div>



  <!-- <%= form_for @config, html: { multipart: true } do |form| %>
  <%= form.label :avatar %>
  <%= form.file_field :avatar %>
  <%= form.submit %>
  <% end %>
<br>
  <%= form_for @config do |x| %>
  <%= x.label :text %>
  <%= x.text_area :text %>
  <%= x.button %>
  <% end %> -->
  <!-- <div class="save-box">
      <div class="flash-message">
        <h4 class="text-center">Your account is already created</h4>
        <h4 class="text-center"><%= link_to "back","/"%></h4>
      </div>
  </div> -->

</div>
