<div class="box-body">
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/explore">Explore <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>


  </div>
</nav>



  <div class="box">

    <div class="user-img">
      <div class="user-img-circle">
        <%if @text.avatar.present?%>
        <%=image_tag(@text.avatar.url, class: "avatar-responsive img-responsive img-circle", width: "150", height: "150")%>
        <% end %>
      </div>

      <div class="button-user"> </div>
    </div>

    <div class="star-project">
      <div class="config-text">

        <%= @text.text%>
      </div>

      <div class="center-post">
          <% @post.each do |x| %>
          <div class="star-project-post">
            <% if x.img.file? %>
          <%= image_tag( x.img, class: "img-responsive img-center", width: "300", height: "300")%>
          <% else %>
          <% end %>
          <%= content_tag(:div, content_tag(:p, x.post_text), class: "p-style-post") %>
          </div>
          <!-- <%= x.post_text%> -->

          <% end %>
      </div>

    </div>

    <div class="form-inline-home">
      <div class="cash">
        <div class="money">
          <h3><%= @text.maximum_amount %> $</h3>
        </div>

        <p class="month-config">Per month</p>
        <button class="follow-btn btn btn-primary" type="button" name="button">Follow</button>
        <h3 class="money-deposit" style="height: 0px;"><%= @text.accompanied %> $</h3>


        <div class="progress">
            <% var = @text.maximum_amount.to_i %>
            <% total = @text.accompanied.to_i * 100 / var %>
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= total%>%">
            <%= total = @text.accompanied.to_i * 100 / var %>%
          </div>
        </div>

      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
          <div class="input-group-addon">.00</div>
        </div>
      </div>
       <button class="Transfer-button btn btn-primary">Transfer cash</button>
    </div>




  </div>


</div>
