<div class="box-body">
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/explore">Explore <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle color-button-home" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%=@name%>
        <span class="caret"></span>
      </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li  align="center"></li>
          <li role="separator" class="divider",></li>
          <li align="center" class="color-li-menu"><%= link_to "Post", "/post", class:"redirect-menu"%></li>
          <li role="separator" class="divider",></li>
          <li align="center" class="color-li-menu"><%= link_to "Config", "/config",class:"redirect-menu"%></li>
          <li role="separator" class="divider",></li>
          <li align="center" class="color-li-menu"><%= link_to "logout", "/logout", class:"redirect-menu", :method => :delete %></li>
          <li role="separator" class="divider",></li>
        </ul>
    </div>
  </div>
</nav>



  <div class="box">

    <div class="user-img">
      <div class="user-img-circle">
        <% @text.each do |x| %>
        <%= image_tag( x.avatar, class: "avatar-responsive img-responsive img-circle", width: "150", height: "150")  %>
      </div>

      <div class="button-user"> <%= x.project_name %></div>
    </div>

    <div class="star-project">
      <div class="config-text">

      <%= x.text %>
      <% end %>
      </div>

      <div class="center-post">
          <% @post.each do |x| %>
          <div class="star-project-post">
            <% if x.img.file? %>
          <%= image_tag( x.img, class: "img-responsive img-center", width: "300", height: "300")%>
          <% else %>
          <% end %>
          <%= content_tag(:div, content_tag(:p, x.post_text), class: "p-style-post") %>
                <%=link_to "", post_path(x, post_id: x.id), class:"fa fa-trash trash-post", align: "right", method: :delete, data: {confirm: "Are your shore??"}%>
          </div>
          <!-- <%= x.post_text%> -->

          <% end %>
      </div>

    </div>

    <div class="form-inline-home">
      <div class="cash">
        <div class="money">
          <% @text.each do |x| %>
          <h3><%= x.maximum_amount %> $</h3>
          <% end %>
        </div>
        <p class="month-config">Per month</p>
        <button class="follow-btn btn btn-primary" type="button" name="button">Follow</button>
        <% @text.each do |x| %>
        <h3 class="money-deposit" style="height: 0px;"> <%= x.accompanied %> $</h3>
        <% end %>

        <div class="progress">
          <% if @text.last  %>
          <% @text.each do |x| %>
            <% var = x.maximum_amount.to_i %>
            <% total = x.accompanied.to_i * 100 / var %>
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= total%>%">
            <%= total = x.accompanied.to_i * 100 / var %>%
            <% end %>
            <% else  %>
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
              0%
          <%end%>

          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
          <div class="input-group-addon">.00</div>
        </div>
      </div>
       <button class="Transfer-button btn btn-primary">Transfer cash</button>
    </div>




  </div>
  <!-- <div class="center-post">
      <% @post.each do |x| %>
      <%= content_tag(:div, content_tag(:p, x.post_text), class: "star-project-post") %>
      <% end %>
  </div> -->

<!-- <%= debug(@deposit) %> -->




 <div class="hola" id="pp">  </div>

<!-- # <% @text.each do |x| %>
# <%= x.accompanied %>
# <% end %> -->


</div>




    <!-- <%=@name%> -->
    <!-- <% @text.each do |x| %>
    <%= x.text %>
    <%= image_tag x.avatar %>
    <% end %> -->
